<%- include('./partials/header') -%>

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><%- req.webdata.sitename %> /</span> Home</h4>

<div class="row">
  <div class="col-12 order-0">
    <div class="card">
      <div class="col">
        <div class="card-body">
          <h5 class="card-title text-primary mb-2">
            <a href="#" class="text-decoration-none text-primary">@CashlyCash</a>
          </h5>
          <p class="mb-0">
            I love it when you cry I love it when you cry I love it when you cry I love it when you cry I love it when you cry I love it when you cry I love it when you cry I love it when you cry I love it when you cry I love it when you cry I love it when you cry I love it when you cry
          </p>
        </div>
      </div>
      <div class="card-body p-4 m-0 border-top">
        <img src="../assets/img/avatars/10.png" class="m-2 h-25" alt="product" />
      </div>
      <div class="card-body p-4 m-0 border-top">
        <a href="#" class="text-decoration-none text-danger border border-danger p-2" style="border-radius: 5%;">
          <i class="bx bx-heart me-1"></i> 1.5k
        </a>
        <span class="float-end text-muted">2h ago</span>
    </div>
  </div>
</div>


<%- include('./partials/footer'); -%>