              <!-- / Content -->
            </div>

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ & ☕ by
                  <a href="<%= req.webdata.author.link %>" target="_blank"
                    class="footer-link fw-bolder"><%= req.webdata.author.name %></a>
                </div>
                <div>
                  <a href="/auth/logout" class="btn btn-sm btn-outline-danger"><i class="bx bx-log-out-circle"></i>
                    Logout</a>
                </div>
              </div>
            </footer>
            <!-- / Footer -->
            <div class="content-backdrop fade"></div>
          </div>
        <!-- Content wrapper -->
        </div>
      <!-- / Layout page -->
      </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>

  <script src="https://coreui.io/docs/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
  <script src="/assets/thmeneed/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/thmeneed/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/thmeneed/vendor/js-cookie/js.cookie.js"></script>
  <script src="/assets/thmeneed/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/assets/thmeneed/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="/assets/thmeneed/js/argon.js?v=1.2.0"></script>
  <script src="/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/assets/vendor/libs/popper/popper.js"></script>
  <script src="/assets/vendor/js/bootstrap.js"></script>
  <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/assets/vendor/js/menu.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/pages-account-settings-account.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="/assets/js/file-upload.js"></script>
  <script src="/assets/js/typeahead.js"></script>
  <script src="/assets/js/select2.js"></script>
</body>

</html>